.circle-crop {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
  filter: grayscale(100%) brightness(1.15);
  transition: filter 0.4s ease;
  transform: translateX(-100px) translateY(0px); /* negative = left, positive = right; adjust value */
}

.circle-crop:hover {
  filter: grayscale(0%) brightness(1);
}

/* Apply custom font and color to body text */
body {
  font-family: 'Dosis', sans-serif;
  color: #404040; /* Dark gray for all text */
}


html {
  scroll-behavior: smooth;
}

h2 {
  scroll-margin-top: 100px; /* adjust if a sticky header covers the heading */
}

#quarto-sidebar {
  width: 650px !important;
  flex: 0 0 350px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  text-align: right;
  font-family: "Dosis", serif;
  background-color: #efeeec;
}

#quarto-sidebar .sidebar-item:first-child {
  margin-top: -200px; /* pulls the whole block up; positive value pushes down */
}

#quarto-sidebar .sidebar-item {
  margin-bottom: 30px; /* space between items */
}

#quarto-sidebar .sidebar-item-text,
#quarto-sidebar a {
  font-family: inherit;
  color: #666362;
  font-family: "Dosis"; /* swap for whatever font you want */
  font-size: 22px;
  
}



#quarto-document-content {
  margin-left: 430px !important;
  padding-left: 10px;
  padding-right: 10px;
}

.cv-location {
  font-size: 14px;
  color: #888;
  font-weight: 300;
}

.social-btn {
  padding: 3px 7px;
  background-color: transparent;
  color: #666362;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

.social-btn:hover {
  background-color: transparent;
  color: #eb6864; /* slightly darker on hover instead of a filled background, since there's no border now */
}
